
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editor</title>
    <link href="~/Content/kendoUI/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendoUI/styles/kendo.default.min.css" rel="stylesheet" />
    <script src="~/Content/kendoUI/js/jquery.min.js"></script>
    <script src="~/Content/kendoUI/js/kendo.web.min.js"></script>
    <style>
        /*.black-cap {
            background-position: 0 0;
        }

        .grey-cap {
            background-position: 0 -225px;
        }

        .orange-cap {
            background-position: 0 -450px;
        }*/
    </style>
</head>
<body>
    <div id="example">
        <input id="color" value="1"> 
        <input id="title" type="text" value="title"/>
        <textarea id="editor" rows="10" cols="30" style="height:440px">
            <img src="http://localhost:5275/Content/Source/Images/Koala.jpg" width="100px" />
            <p>
                Kendo UI Editor allows your users to edit HTML in a familiar, user-friendly way.<br />
                In this version, the Editor provides the core HTML editing engine, which includes basic text formatting, hyperlinks, lists,
                and image handling. The widget <strong>outputs identical HTML</strong> across all major browsers, follows
                accessibility standards and provides API for content manipulation.
            </p>
        </textarea>
        <script>
            $(document).ready(function () {
                // create Editor from textarea HTML element with default set of tools
                $("#editor").kendoEditor({ resizable: true });
            });
        </script>
    </div>
    <button id="textButton">Save</button>
    <script>
    var data = [
                    { text: "生活", value: "1" },
                    { text: "娱乐", value: "2" },
                    { text: "程序", value: "3" }
    ];

    // create DropDownList from input HTML element
    $("#color").kendoDropDownList({
        dataTextField: "text",
        dataValueField: "value",
        dataSource: data,
        index: 0,
        change: onChange
    });
    var color = $("#color").data("kendoDropDownList");

    color.select(1);
    function onChange() {
        var value = $("#color").val();
        $("#cap")
            .toggleClass("black-cap", value == 1)
            .toggleClass("orange-cap", value == 2)
            .toggleClass("grey-cap", value == 3);
    };

        //$('#textButton').on("click", function () {
        //    var editor = $("#editor").data("kendoEditor");
        //    alert(editor.value());


        //});
        $("#textButton").kendoButton();

        $('#textButton').on('click', function () {
            var editor = $("#editor").data("kendoEditor");
            alert(editor.value());
            var con = encodeURI(editor.value());
            alert(con);
            $.ajax({
                url: "/Kendo/AddBlog",
                type: "POST",
                data:{
                    type:$("#color").val(),
                    title:$('#title').val(),
                    content: con,
                    time:"2015"

                },
                success: function (msg) {
                    alert(msg);
                }
            });
        });
        //string type,string title,string content,string time
    </script>
</body>
</html>
